<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/client/layouts/base_layout"
>

<th:block layout:fragment="additional-link-at-head">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/about.css">
    <link rel="stylesheet" href="/client/css/login.css">
</th:block>
<th:block layout:fragment="main-content">
    <section class="h-auto form-login">
        <div class="container py-5 h-auto">
            <div class="row d-flex justify-content-center align-items-center h-auto">
                <div class="col col-xl-10">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded custom-rounded">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="/client/images/login.png"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form id="loginForm" th:action="@{/client/authenticate}" method="post">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">ĐĂNG NHẬP</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Đăng nhập vào tài khoản của bạn</h5>
                                        <th:block th:if="${param.error != null}">
                                            <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
                                                <div id="login-error" class="alert alert-danger mb-4 text-center" role="alert" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION.getClass().getName() eq 'org.springframework.security.authentication.DisabledException'}">
                                                    <p>Tài khoản của bạn chưa được kích hoạt. Vui lòng kiểm tra hộp thư để tiến hành kích hoạt tài khoản!</p>
                                                </div>
                                                <div id="login-error" class="alert alert-danger mb-4 text-center" role="alert" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION.getClass().getName() ne 'org.springframework.security.authentication.DisabledException'}">
                                                    <p>Tài khoản hoặc mật khẩu không chính xác.</p>
                                                </div>
                                            </div>
                                        </th:block>


                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <label class="form-label text-dark" for="form2Example17">Email</label>
                                            <input name="email" type="text" id="form2Example17" class="form-control form-control-lg" />
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <div class="form-group">
                                                <label class="form-label text-dark" for="form2Example27">Mật khẩu</label>
                                                <input name="password" type="password" id="form2Example27" class="form-control form-control-lg"/>
                                            </div>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-submit" type="submit">Đăng Nhập</button>
                                        </div>

                                        <a class="small text-muted" href="/client/forgotpassword">Quên mật khẩu?</a>
                                        <p class="mb-n5 pb-lg-0" style="color: #393f81;">Bạn không có tài khoản? <u><a href="/client/register" style="color: #393f81;">Đăng ký ngay</a></u></p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<th:block layout:fragment="additional-link-at-bottom">
    <script type="text/javascript" src="/client/plugins/validation/validate.min.js"></script>
    <script src="/client/js/login.js"></script>
</th:block>