<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/client/layouts/base_layout"
>

<th:block layout:fragment="additional-link-at-head">
    <link rel="stylesheet" href="/client/css/style.css">
</th:block>
<th:block layout:fragment="main-content">
    <section class="h-auto" style="background-color: #fff; margin-top: 28px;">
        <div class="container py-5 h-auto">
            <div class="row d-flex justify-content-center align-items-center h-auto">
                <div class="col col-xl-10">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-12 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <div class="text-center">
                                        <h1 class="fw-bold mb-3">Yêu cầu quên mật khẩu đã được gửi!</h1>
                                        <p class="lead mb-4">Vui lòng kiểm tra hòm thư của bạn để tiếp tục quá trình khôi phục mật khẩu.</p>
                                        <a href="/client/home" class="btn btn-primary btn-lg">Trở về trang chủ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>
