<footer class="footer section gray-bg" th:fragment="footer">
    <div class="container">
        <div class="py-3">
            <div class="row">
                <div class="col-lg-4">
                    <a class="backtop scroll-top-to" href="#top">
                        <i class="icofont-long-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img th:src="@{/client/images/logos/logo.png}" alt="" class="img-fluid" />
                    </div>
                    <ul>
                        <li>
                            <span style="font-weight: bold">Địa chỉ: </span>236/29/18 ABC
                            - Phường X - Quận Y - TP G.
                        </li>
                        <li>
                  <span style="font-weight: bold">Website: </span
                  >https://demo.vn
                        </li>
                        <li>
                            <span style="font-weight: bold">Email: </span>cskh@demo.vn
                        </li>
                        <li>
                            <span style="font-weight: bold">Điện thoại: </span>(028) xxx
                            xxx
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Về chúng tôi</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#!">Giới thiệu </a></li>
                        <li><a href="#!">Điều khoản dịch vụ</a></li>
                        <li><a href="#!">Chính sách bảo mật</a></li>
                        <li><a href="#!">Quy định sử dụng</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Hướng dẫn</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#!">Đặt lịch khám</a></li>
                        <li><a href="#!">Quy trình hoàn phí</a></li>
                        <li><a href="#!">Câu hỏi thường gặp </a></li>
                        <li><a href="#!">Quy trình hoàn phí</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget widget-contact mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Liên hệ</h4>
                    <div class="divider mb-4"></div>

                    <div class="footer-contact-block mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-email mr-3"></i>
                            <span class="h6 mb-0">Hỗ trợ 24/7</span>
                        </div>
                        <h4 class="mt-2">
                            <a href="mailto:support@email.com">CSKH@email.com</a>
                        </h4>
                    </div>

                    <div class="footer-contact-block">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-support mr-3"></i>
                            <span class="h6 mb-0">Thứ 2 - 6 : 08:30 - 18:00</span>
                        </div>
                        <h4 class="mt-2">
                            <a href="tel:+23-345-67890">+23-456-6588</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-2 mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <a class="backtop scroll-top-to" href="#top">
                        <i class="icofont-long-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>