<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông báo đăng ký thành công</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4;">

    <div style="max-width: 600px; margin: 20px auto; padding: 20px; border-radius: 5px; background-color: #fff; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center;">Thông báo đăng ký thành công!</h2>
        <p>Xin chào,</p>
        <p>Cảm ơn bạn đã đăng ký tài khoản tại hệ thống phòng khám trực tuyến của chúng tôi.</p>
        <p>Bạn cần xác nhận tài khoản của mình để chúng tôi có thể chắc chắn rằng bạn là người đăng ký tài khoản. Vui lòng truy cập vào liên kết sau để xác nhận:</p>
        <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;"><a style="display: inline-block; padding: 8px 16px; font-size: 14px; font-weight: bold; text-decoration: none; color: #fff; background-color: #007bff; border: none; border-radius: 4px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);" th:href="${url}">Xác nhận tài khoản</a></div>
        <p><span style="font-weight: bold;">*Lưu ý:</span>  Thao tác xác nhận cần được hoàn thành trong vòng 15 phút.</p>
        <p>Nếu bạn không thực hiện thao tác này trong thời gian quy định, tài khoản của bạn có thể bị hủy bỏ.</p>
        <p>Xin cảm ơn và chúc bạn một ngày tốt lành!</p>
    </div>

</body>

</html>
