<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông báo đăng ký thành công</title>
  </head>

  <body style="font-family: Arial, sans-serif; background-color: #f4f4f4">
    <div
      style="
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 style="text-align: center">Thông báo cập nhật mật khẩu!</h2>
      <p>Xin chào,</p>
      <p>Bạn vừa yêu cầu khôi phục mật khẩu trên hệ thống của chúng tôi.</p>
      <p>
        Vui lòng nhấn vào nút bên dưới để tiếp tục quá trình khôi phục mật khẩu:
      </p>
      <div style="text-align: center; margin-top: 10px; margin-bottom: 20px">
        <a
          style="
            display: inline-block;
            padding: 8px 16px;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          "
          th:href="${resetPasswordLink}"
          >Cập nhật mật khẩu</a
        >
      </div>
      <p><span style="font-weight: bold">*Lưu ý:</p>
      <ul>
        <li>
          Nếu bạn không yêu cầu thay đổi mật khẩu, vui lòng bỏ qua email này.
        </li>
        <li>Mã token chỉ có hiệu lực trong một lần sử dụng.</li>
      </ul>
      <p>Trân trọng,</p>
      <p>Đội ngũ hỗ trợ của chúng tôi!</p>
    </div>
  </body>
</html>
