<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403</title>
    <link rel="stylesheet" href="/client/css/403.css">
  </head>
  <body>
    <div id="sec-1" class="section">
      <div id="ctn">
        <div class="marquee">
          <div class="marquee-text"></div>
          <div class="marquee-text"></div>
          <div class="marquee-text"></div>
        </div>

        <div class="text-ctn">ERROR</div>

        <div id="forbidden">FORBIDDEN</div>

        <div class="text-ctn">HTTP<br />403</div>

        <div class="marquee">
          <div class="marquee-text"></div>
          <div class="marquee-text"></div>
          <div class="marquee-text"></div>
        </div>
      </div>
    </div>
  </body>
</html>